:root{
  --max-width: 1260px;
  --text-color: #ccc;
  --primary-bg: #e0960c;
  --secondary-bg: #8e5e5e;
}
.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}
button{
  cursor: pointer;
}

.logo-div {
  margin-top: -0.5rem;
  display: flex;
}
#fileInput {
  /* Hide the default file input button */
  display: none;
}

li{
  list-style: none;
}
/* Create a custom button with a "+" symbol */
label[for="fileInput"] {
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  background-color: #eee;
  color: #333;
  /* Style the "+" symbol */
  content: "+";
  text-align: center;
  line-height: normal;
}

/* Style the hover effect for the custom button */
label[for="fileInput"]:hover {
  background-color: #ddd;
}
/** Styling for the Product page */
.products-container {
  display: flex;
  padding: 0rem 5rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.product-item-container{
  display: flex;
  flex: 1;
  padding: 0.5rem;
  margin: 1rem;
  flex-direction: column;
  align-items: center;
}

.product-item-container button{
  display: flex;
  flex: 1;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.product-item-price-container{
  display: flex;
  flex-grow: 1;
  width: fit-content;
  justify-content: space-between;
  align-items: center;
}
.image-container{
  display: flex;
}
input {
  display: block;
  padding: 0.5rem;
  margin: 0.5rem;
}


/** Navbar Styling */
.navbar{
  color: --primary-bg;
  background-color: var(--primary-bg);
  display: flex;
  padding: 1rem 4rem;
  width: 100%;
  
}
.navbar h1{
  font-size: 1rem;
}
.navbar div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  color: var(--secondary-bg);
}
.navbar div ul{
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0rem 2rem;
}
.navbar div ul li {
  padding: 0rem 0.5rem;
}
.navbar a{
  color: var(--text-color);
  text-decoration: none;
}
.navbar a:hover{
  color: var(--primary-color)
}  
.logo-div {
  display: flex;
  align-items: center;
  justify-content: cen;
  color: var(--primary-bg);
}
.logo-div h1 {
  color: var(--primary-bg);
  margin-top: 0.75rem;
  margin-left: -0.9rem;
  font-size: 20px;
}
.logo-img{
  width: 45px;
  height: 45px;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 5rem;
  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 1px #ccc;
  z-index: 1;
  background-color: #fff;
}
header > div{
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header div ul {
  margin: 0rem 2rem;
  display: flex;
  list-style: none;
  align-items: center;
}
header div ul li {
  margin: 0rem 0.5rem;
}
.header-search-container {
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
}
.header-search-box {
  display: flex;
}
.icon-container {
  display: flex;
  align-items: center;
  color: transparent;
}
.icon-container button {
  border: none;
  background-color: transparent;
  margin: 0rem 0.25rem;
}
.header-search-container button {
  border: none;
  position: absolute;
  right: 20px;
}
.search-input {
  border: none;
  padding: 0.75rem;
  padding-right: 2.5rem;
  flex: 1;
  background-color: #f4f4f4;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover {
  color: var(--primary-bg);
  text-decoration: underline;
}
main {
  padding: 0rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin-top: 4rem;
}
nav {
  padding: 1rem;
  height: fit-content;
  box-shadow: 1px 0px #ccc;
}
main nav button {
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 0.75rem;
  text-align: left;
}
main nav button:hover {
  background-color: var(--primary-bg);
  color: #fff;
}
.home-div-1 {
  display: flex;
  flex: 1;
}
.imagepane-container {
  flex: 1;
  display: flex;
  align-items: center;
  margin: 1rem;
}
.imagepane{
  flex: 1;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 3rem;
  margin: 2rem;
}
.imagepane div {
  flex: 1;
}
.imagepane-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
}
.imagepane-text p {
  margin: 2rem 0rem;
}
.imagepane div img {
  width: 80%;
  height: 80%;
}

/** Product Details Styling */
.product-details {
  margin: 1rem 0.25rem;
  border: solid 1px #f4f4f4;
  padding: 1rem;
  border-radius: 5px;
}
.product-details:hover {
  cursor: pointer;
}
.product-image {
  position: relative;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-bottom: 0.75rem;
  border-radius: 10px;
}
.product-path-paragraph {
  width: 100%;
}
.product-icon-container {
  position: absolute;
  right: 10px;
  top: 30px;
  color: #333;
  display: flex;
  flex-direction: column;
  height: 40px;
  justify-content: space-between;
}
.product-image img {
  width: 150px;
  height: 120px;
  border-radius: 5px;
}
.product-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  box-shadow: 0px 1px 0px #ccc;
  margin: 3rem 0rem;
}
.desc-div {
  display: flex;
  color: var(--primary-bg);
}
.box-div {
  width: 20px;
  border-radius: 3px;
  background-color: var(--primary-bg);
}
.desc-div p{
  flex: 1;
  padding: 1rem 0.5rem;
  font-weight: bold;
  /* font-family: Arial; */
}
.trending-product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product-list h2 {
  margin: 1.5rem 0rem;
}
/** Utility Classes */

.bold-text {
  font-size: 18px;
  font-weight: 400;
}
.price-text {
  color: var(--primary-bg);
  margin: 0.5rem 0rem;
}
.store-details {
  position: relative;
  width: fit-content;
  display: flex;
  padding: 1rem;
  border: 1px solid #f4f4f4;
  transition: padding 200ms;
  margin: 1rem 0rem;
}
.store-details:hover {
  border-color: var(--primary-bg);
  cursor: pointer;
  padding: 1.05rem;
}
.store-details-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
}
.store-image-container {
  width: fit-content;
}
.store-image-container img {
  width: 200px;
  height: 200px;
}
.store-image-container:hover {
}
.store-details-container button {
  background-color: #fff;
  flex: 1;
  text-align: center;
  border: 1px #c4c4c4 solid;
  transition: background-color 100ms;
  padding: 0.5rem;
}
.store-details-container button:hover {
  background-color: var(--primary-bg);
}
.store-details-container p {
  font-size: 12px;
}
.store-details-container div {
  margin: 0.25rem 0rem;
  display: flex;
  justify-content: space-between;
}
.verified-div {
  position: absolute;
  top: 20px;
  right: 20px;
}
.single-product-container {
  margin: 2rem 0rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex: 1;
}
.main-image-container, .product-detail-div {
  background-color: #f4f4f4;
  margin: 1rem 2rem;
  flex: 1;
}
.image-list-container {
  width: 100px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-list-container button {
  border: none;
  width: fit-content;
  padding: 0.25rem;
  margin: 0.5rem 0rem;
  background-color: #f4f4f4;
  border-radius: 4px;
}
.image-list-container button img, .pre-product-image {
  width: 70px;
  height: 70px;
}
.main-image-container {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-image-container img {
  width: 90%;
  height: 350px;
}
.product-detail-div {
  background-color: transparent;
}
.product-detail-div p {
  margin: 1rem 0rem;
}
.margin-bottom {
  margin-bottom: 2rem;
}
.profile-page-div{
  width: 100%;
  padding: 4rem 0rem;
  display: flex;
  justify-content: space-between;
}
.profile-page-div nav {
  box-shadow: none;
}
.profile-form-div{
  width: 100%;
  flex: 1;
  padding: 1rem 5rem;
  display: flex;
}
.profile-form-div > form{
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}
.profile-form-div form > div {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.profile-form-div form > div > div > input {
  flex: 1;
  width: 350px;
  background-color: #f4f4f4;
  border: none;
  padding: 0.75rem;
  margin: 1rem 0rem;
}
.password-change-div {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.password-change-div input {
  flex: 1;
  margin: 0rem;
  margin: 1rem 0rem;
  padding: 0.75rem;
  border: none;
  background-color: #f4f4f4;
}
.profile-page-div h3 {
  margin: 1rem 0rem;
}
.profile-page-div li {
  margin: 0.75rem 0rem;
}
footer a {
  font-size: 14px;
}
footer h2 {
  font-size: 18px;
}
footer div { 
  margin-bottom: 2rem;
}
footer input {
  margin: 0rem;
}
.contact-div {
  display: flex;
  justify-content: center;
  padding: 3rem 0rem;
  gap: 3rem;
}
.contact-form {
  flex: 2.15;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.contact-form div {
  display: flex;
  height: fit-content;
}
.contact-form div > div {
  flex: 1;
}
.contact-form textarea {
  flex: 1;
  margin: 2rem 0.5rem;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: #f4f4f4;
  border: none;
  border-radius: 5px;
}
.contact-form > div > div > input {
  flex: 1;
  padding: 1rem;
  height: fit-content;
  background-color: #f4f4f4;
  border-radius: 5px;
  border: none
}
.contact-div p {
  line-height: 1.4;
  margin: 1rem 0rem;
}
.contact-div nav {
  flex: 0.85;
  padding: 2rem 1rem;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.profile-div {
  flex-direction: column;
  background-color: #f4f4f4;
  margin: 0rem 1rem;
}
.profile-div > div {
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin: 0.5rem 0rem;
}
.add-product-form {
  display: flex;
  flex: 1;
  width: 100%;
  margin: 2rem 0rem;
}
.add-product-form label {
  display: block;
  margin: 1rem 0rem;
  margin-bottom: 0.5rem;
}
.add-product-form > div {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.add-product-form > div > div {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 1rem;
}
.add-product-form h2 {
  font-size: 18px;
  padding: 1rem 0rem;
  color: #555;
}
.add-product-form input {
  margin: 0rem;
  display: flex;
  width: 100%;
  background-color: #f4f4f4;
  border: none;
  border-radius: 5px;
}
.add-product-form textarea {
  height: 6rem;
  width: 100%;
  background-color: #f4f4f4;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.flex {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.flex > div {
  display: flex;
  flex-direction: column;
  flex: 1;
}
select {
  padding: 0.5rem;
  flex: 1;
  border: none;
  border-radius: 5px;
  background-color: #f4f4f4;
}
.flex-2 {
  flex: 1.5 !important;
}
.file-input {
  visibility: hidden;
}
.wrap {
  flex-wrap: wrap;
}
.flex-row {
  flex-direction: row !important;
}
.pre-product-image {
  width: 90px;
  height: 90px;
}
.pre-product-image-container, .pre-product-tag-container {
  position: relative;
}
.pre-product-image-container button, .pre-product-tag-container button {
  position: absolute;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  top: 10;
  left: 10;
}
.product-tag {
  margin-right: 0;
  padding: 0.75rem 1rem;
  width: fit-content;
  border-radius:45%;
  border-color: #ccc;
  color: #fff;
  background-color: var(--primary-bg);
}
.icon-p {
  display: flex;
  align-items: center;
  gap: 5px;
}
.about-page {
  padding: 3rem 0rem;
  line-height: 1.5;
}
.about-page h2 {
  font-size: 32px;
  margin: 2rem 0rem;
  color: var(--primary-bg)
}
.about-section-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}
.customer-about-image {
  width: 500px;
  height: 400px;
}
